##Transformación de Fechas y horas

In [1]:
#Importamos librerías
from datetime import datetime, date, time, timedelta
import datetime
import pandas as pd

In [2]:
#AÑO
ahora = datetime.datetime.now()
print("La fecha y hora actual es: ", ahora)

#Este año
anio = ahora.year
print("El año es: ", anio)

#Año proximo
año_proximo = anio + 1
print("El año próximo es: ", año_proximo)

La fecha y hora actual es:  2025-09-15 18:07:44.075344
El año es:  2025
El año próximo es:  2026

In [3]:
#Mes

#Mes actual
mes_actual = ahora.month
print("El mes actual es: ", mes_actual)

#Mes próximo
mes_proximo = mes_actual + 1
print("El mes próximo es: ", mes_proximo)

#Cambio el tipo de dato
print(type(mes_proximo))
print(type(str(mes_proximo)))

El mes actual es:  9
El mes próximo es:  10
<class 'int'>
<class 'str'>

In [4]:
#DIA

#Dia actual
dia_actual = ahora.day
print("El día actual es: ", dia_actual)

#Dia próximo
dia_proximo = dia_actual + 1
print("El día próximo es: ", dia_proximo)

El día actual es:  15
El día próximo es:  16

In [5]:
#HORA

#Hora GMT
ahora = datetime.datetime.now()
print("La hora Greenwich Mean Time (GMT) es: ", ahora)

#Hora Argentina (Le restamos 3 horas)
hora_arg = ahora - timedelta(hours=3)
print("La hora en Argentina es:", hora_arg)

La hora Greenwich Mean Time (GMT) es:  2025-09-15 18:07:48.557907
La hora en Argentina es: 2025-09-15 15:07:48.557907

In [6]:
# Formatear la hora
hora_formateada = ahora.strftime("%Y-%m-%d %H:%M:%S")

# Imprimir la hora formateada
print("La hora actual es:", hora_formateada)

La hora actual es: 2025-09-15 18:07:48

##Transformación de Strings a enteros

In [7]:
#Cambio el tipo de dato, de string a enteros

numero = "15"

print(type(numero))

print(f"El numero ingresado es : {numero} y el tipo es:  {type(numero)} ")

<class 'str'>
El numero ingresado es : 15 y el tipo es:  <class 'str'>

In [8]:
#convertimos el dato de estring a enteros
numero = int(numero)

print(f"El numero ingresado es : {numero} y el tipo es:  {type(numero)} ")

El numero ingresado es : 15 y el tipo es:  <class 'int'>

##Transformación de Strings a decimales

In [9]:
#Cambio el tipo de dato, de string a enteros

numero = "10.1"

print(f"El numero ingresado es : {numero} y el tipo es:  {type(numero)} ")

El numero ingresado es : 10.1 y el tipo es:  <class 'str'>

In [10]:
#convertimos el dato de estring a enteros
numero = float(numero)

print(f"El numero ingresado es : {numero} y el tipo es:  {type(numero)} ")

El numero ingresado es : 10.1 y el tipo es:  <class 'float'>

##Transformación, join de datasets

In [11]:

# Notas de Matemática y Lengua
df1 = pd.DataFrame({'Alumno': ['Alumno0', 'Alumno1', 'Alumno2'],
                    'Matermática': ['5', '6', '7'],
                    'Lengua': ['7', '7', '8']
                    })

# Notas de Historia y Geografía
df2 = pd.DataFrame({'Alumno': ['Alumno0', 'Alumno2', 'Alumno3'],
                    'Historia': ['4', '5', '4'],
                    'Geografía': ['6', '7', '9']
                    })

# Mostramos los dataframes
print(df1)
print('           ')
print(df2)

    Alumno Matermática Lengua
0  Alumno0           5      7
1  Alumno1           6      7
2  Alumno2           7      8

    Alumno Historia Geografía
0  Alumno0        4         6
1  Alumno2        5         7
2  Alumno3        4         9

In [12]:
# Hacemos join de los dataframes y mostramos las notas

merged_df = pd.merge(df1, df2, on='Alumno', how='inner')
print(merged_df)

    Alumno Matermática Lengua Historia Geografía
0  Alumno0           5      7        4         6
1  Alumno2           7      8        5         7

##Substitución de datos faltante por un tipo de dato default

In [13]:
#Reemplazamos nulos por ceros

# Creando un DataFrame
df = pd.DataFrame({'columna1': [1, 2, None, 4],
                   'columna2': [5, None, None, 8]})

# Rellenando los valores nulos con 0
df = df.fillna(0) #Podemos reemplazar el cero por el valor que necesitemos
print(df)

   columna1  columna2
0       1.0       5.0
1       2.0       0.0
2       0.0       0.0
3       4.0       8.0

##Filtrar datos que rompen reglas de negocio o porque no los necesitemos

In [14]:

# Creamos un DataFrame de ejemplo
data = {'producto': ['A', 'B', 'C', 'D'],
        'precio': [5, 15, 8, 20]}
df = pd.DataFrame(data)

print(df)

  producto  precio
0        A       5
1        B      15
2        C       8
3        D      20

In [15]:
# Filtrar los productos con precio menor a 10
df_filtrado = df[df['precio'] < 10]
print(df_filtrado)

  producto  precio
0        A       5
2        C       8

##Eliminar columnas que no son necesarias

In [16]:

# Creamos un DataFrame de ejemplo
data = {'nombre': ['Ana', 'Pedro', 'María'],
        'edad': [30, 25, 32],
        'ciudad': ['Madrid', 'Barcelona', 'Sevilla'],
        'correo': ['ana@example.com', 'pedro@example.com', 'maria@example.com'],
        'telefono': [123456789, 987654321, 567891234]}
df = pd.DataFrame(data)

print(df)

  nombre  edad     ciudad             correo   telefono
0    Ana    30     Madrid    ana@example.com  123456789
1  Pedro    25  Barcelona  pedro@example.com  987654321
2  María    32    Sevilla  maria@example.com  567891234

In [17]:
# Eliminar las columnas 'correo' y 'telefono'
columnas_a_eliminar = ['correo', 'telefono']

#axis=1: Se refiere a las columnas.
#inplace=True: modifica el DataFrame original en lugar de crear una copia y realizar los cambios en ella
df.drop(columnas_a_eliminar, axis=1, inplace=True)

print(df)

  nombre  edad     ciudad
0    Ana    30     Madrid
1  Pedro    25  Barcelona
2  María    32    Sevilla